.sidebar{
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    height: 100%;
    width: 29%;
    padding-left: 32px;
    background: white;
}

.top-icon{
    border-radius: 4px;
    bottom: 72px;
    left: 387px;
    z-index: 1;
    width: 30px;
    height: 25px;
    position: relative;
}

.top-box{
    height: 45px;
    position: relative;
    bottom: 37px;
    left: 380px;
    width: 45px;
    background: rgba(235, 228, 228, 0.5);
    border-radius: 8px;
}

.cart-flex{
    display: flex;
    flex-wrap: wrap;
}

.cart-length{
    height: 60%;
    overflow-y: scroll;
    
}

.total-price{
    margin: 32px 0px 16px 0px;
    padding: 12px;
    width: 475px;
    height: 215px;
    border-radius: 20px;
    background-color: rgba(235, 228, 228, 0.5);
}


.price-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 12px 0px 12px;


}

.price-flex :first-child{
    opacity: 0.5;
}

hr{
    border: 1px dashed;
    margin: 24px 16px 20px 16px;
    opacity: 0.4;
}

.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 12px 0px 12px;
    font-size: 24px;
    font-weight: 700;
}

.payment-btn{
    margin: 22px 16px 0px 0px;
    width: 475px;
    height: 45px;
    background-color: rgb(255, 123, 0);
    border: none;
    color: white;
    font-size: 19px;
    border-radius: 10px;
}