/* #heading{
    padding-top: 16px;
    opacity: 0.5;
}

.topbar{
    margin-top: 80px;
}

.filter {
    background-color: white;
    width: 50px;
    height: 45px;
    border-radius: 10px;
    margin-left: 25px;
    border: none;
    border-width: 10px;
    padding: 5px 0px 0px 10px ;
} */

.btn{
    height: 15px;
    width: 130px;
    background: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    margin: 40px 120px 0px 0px;
}

.btn-padding{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 0.5em 1em;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.image{
    position: relative;
    bottom: 4px;
}

.text{
    position: relative;
    bottom: 9px;
}

nav{
    display: flex;
}