.card{
    padding: 20px;
    background: white;
    margin-top: 32px;
    height: 425px;
    width: 350px;
    border-radius: 10px;
    margin-right: 60px;
}

.card-img{
    width: 100%;
    height: 230px;
}

.cart-img{
    position: relative;
    bottom: 220px;
    left: 270px;
    color: #ec810d;
    background: white;
    opacity: 0.5;
    width: 35px;
    height: 25px;
    border-radius: 5px;
}

.card-name{
    margin: -44px;
    font-size: 24px;
    font-weight: 700;
}

.card-desc{
    font-size: 14px;
    opacity: 0.5;
    position: relative;
    top: 16px;
}

.card-price{
    position: relative;
    top: 32px;
    font-size: 24px;
    color: #ec810d;
}

.card-pcs{
    position: relative;
    top: 30px;
    font-size: 16px;
    opacity: 0.5;
}