#heading{
    padding-top: 16px;
    opacity: 0.5;
}

.topbar{
    margin-top: 80px;
}

.filter {
    background-color: white;
    width: 50px;
    height: 45px;
    border-radius: 10px;
    margin-left: 25px;
    border: none;
    border-width: 10px;
    padding: 5px 0px 0px 10px ;
}
