.searchbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5em 1.2em;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    margin-left: 550px;
}

img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

input {
    border: none;
    outline: none;
    margin: 0;
    height: 30px;
}
