*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin-left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgba(235, 228, 228, 0.5);
}

.flex{
    display: flex;
}

.card-flex{
    display: flex;
    flex-wrap: wrap;
    width: 102%;
}

.root{
    width:70%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track{
    background-color: white;
  }
  ::-webkit-scrollbar-thumb{
    background-color:rgb(255, 123, 0);
    border-radius: 10px;
  }